ACCOUNT_ID=66c5b009abcf97dc074e79e4
STAGE_API_BASE_URL=https://stage.citibot.net/api-v2
STAGE_ENGINE_BASE_URL=https://stage.citibot.net/engine-v2
STAGE_TRANSLATE_URL=https://stage.citibot.net/translator-v2/translate-text
CONFIG_TOKEN=
ENGINE_TOKEN=
USER_AVATAR=https://webchat-icon-stage.citibot.net/user.svg
DEFAULT_ACCOUNT_ICON_SIZE=120px
LOCAL_WEB_CHAT_URL=http://127.0.0.1:4173/local-webchat
REACT_APP_SPEAKER=https://webchat-icon-stage.citibot.net/speaker.svg
REACT_APP_SPEAKER_MUTE=https://webchat-icon-stage.citibot.net/speaker-mute.svg
REACT_APP_CITIBOT_LANDING_PAGE_URL=https://citibot.io
