ACCOUNT_ID=
STAGE_API_BASE_URL=
STAGE_ENGINE_BASE_URL=
STAGE_TRANSLATE_URL=
CONFIG_TOKEN=
ENGINE_TOKEN=
USER_AVATAR=
DEFAULT_ACCOUNT_ICON_SIZE=120px
LOCAL_WEB_CHAT_URL=http://127.0.0.1:4173/local-webchat
REACT_APP_SPEAKER=
REACT_APP_SPEAKER_MUTE=
REACT_APP_CITIBOT_LANDING_PAGE_URL=https://citibot.io
